p, ul {
  text-align: justify
}

// all images
img {
  transition: all 0.3s ease-out;
}

img.avatar{
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

// logos in experience cards
.card{
  img {
    border-radius: 6px;
    // box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  }
}

// pictures in project overview and travelling overview
.view-showcase{
  img {
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    &:hover {
      transform: scale(1.02);
      transition: all 0.3s cubic-bezier(.2,0,.2,1);
      box-shadow: 0px 8px 16px 2px rgba(0, 0, 0, 0.2);
    }
  }
}

// images only in project overview
.wg-portfolio{
  img:first-of-type {
    margin-top: 20px; // +20 pixel to give shadow effect some space
  }
  .project-toolbar {
    margin-bottom: 22px; // -20 pixel to give shadow effect some space
  }
}

// images in next to publications on landing page
.view-compact{
  img {
    max-height: 130px;
    width: auto;
    flex-grow: 1;
    display: block;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.2);
    &:hover {
      transition: all 0.3s cubic-bezier(.2,0,.2,1);
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    }
  }
  .media-body {
    flex-basis: 80%;
    max-width: 80%;
  }
  .ml-3 {
    flex-grow: 1;
  }
}

.article-project,.pub {
    img {
    border-radius: 10px;
    }

}

// route image in travelling gallery
.wg-markdown{
  .w-100 {
    img {
      box-shadow: -2px 2px 10px 0 rgba(68, 68, 68, 0.4);
      &:hover {
        transform: scale(1.03);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}
